@*@model WebApplication2.Models.tblemployee*@
@model WebApplication2.Models.EmployeeModel

@{
    ViewData["Title"] = "AddEmployee";
}

<hr />
<div class="row" style="background-color: lightpink">
    <div class="col-md-4">
        <form asp-action="AddEmployee">
            @Html.HiddenFor(m => m.empid)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"><b>NAME : </b></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"><b>AGE : </b></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"><b>COUNTRY : </b></label>
                @*<select asp-for="country" class="form-control" asp-items="@(new SelectList(ViewBag.ctr,"cid","cname"))" onchange="BindState()">*@
                <select asp-for="country" class="form-control" asp-items="@(new SelectList(Model.lstcountry,"cid","cname"))" onchange="BindState()">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"><b>STATE : </b></label>
                @*<select asp-for="state" class="form-control" asp-items="@(new SelectList(ViewBag.stt,"sid","sname"))">*@
                <select asp-for="state" class="form-control" asp-items="@(new SelectList(Model.lststate,"sid","sname"))">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"><b>GENDER : </b></label>
                @foreach (var a in Model.lstgender)
                {
                    <input type="radio" asp-for="gender" value="@a.gid" />@a.gname
                }
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hobby" class="control-label"><b>HOBBY : </b></label>
                @for (int i = 0; i < Model.lsthobby1.Count; i++)
                {
                    <input type="checkbox" asp-for="@Model.lsthobby1[i].ischecked" />@Model.lsthobby1[i].hname
                    <input type="hidden" asp-for="@Model.lsthobby1[i].hname" />
                }
                <span asp-validation-for="hobby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.BT" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function BindState() {
        
        $.ajax({
            url: '../Employee/GetState',
            type: 'post',
            data: { A: $("#country").val() },
            success: function (data) {
                $("#state").empty();
                $("#state").append($('<option></option>').html("--select state--").val(0));

                for (var i = 0; i < data.length; i++) {
                    $("#state").append($('<option></option>').html(data[i].sname).val(data[i].sid));
                }
            },
            error: function () {
                alert('error in state binding!!');
            }
        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
